BasedOnStyle: WebKit
UseTab: "Never"
IndentWidth: 4

PointerAlignment: Right
AlignArrayOfStructures: Right
LineEnding: LF

ColumnLimit: 90
IndentCaseLabels: true

AllowShortFunctionsOnASingleLine: "None"
InsertTrailingCommas: "None"
InsertNewlineAtEOF: true

SortIncludes: false
