@import "./fonts.css";


/** Header */
header * {
    font-family: "Fira Code";
    -webkit-text-stroke-width: 0;
}

#site-name {
    font-size: 2em;
    font-weight: 700;

    text-shadow: 3px 3px var(--highlight);
    color: var(--emphasis);

    margin: 0 0.2em;
    align-self: center;
}

#site-sections > ul {
    display: flex;
    flex-direction: row;
    
    justify-content: space-around;

    > li, > li > a {
        display: inline-block;

        color: var(--color);
        text-decoration: none;

        font-weight: 600;
        font-size: 1em;

        min-width: 20%;
        text-align: center;
    }
}


/** Colors */
:root {
    --background: #ddd;
    --bg-contrast: #bbb;
    --color: #222;
    --emphasis: #b72a2a;
    --highlight: #4b7799;
    --contrast: #111;
    --dimmed: #444;
    --link: #44f;
    --link-visited: #ad1bff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #222;
        --bg-contrast: #2a2a2a;
        --color: #ddd;
        --emphasis: #ffcf00;
        --highlight: #df00cf;
        --contrast: #1d1d1d;
        --dimmed: #aaa;
        --link: #8e96ff;
        --link-visited: #d560ff;
    }
}


/** Misc. */
:root {
    font-family: "XITS", "XITS Math";

    text-rendering: optimizeLegibility;
    -webkit-text-stroke-width: 0.01em;
    -webkit-font-smoothing: subpixel-antialiased;
    
    color: var(--color);
    background-color: var(--background);

    margin: auto;
}

@media (min-width: 900px) {
    :root {
        font-size: 1.2rem;
        width: min(75vw, 1200px);
    }
}

article {
    margin: 0.6rem;
    padding: 0.6rem;
}

.footnote-back {
    margin-left: 1em;
}



/** Links */
a {
    color: var(--link);

    text-decoration-thickness: 0.07em;
    text-decoration-style: dotted;
    text-underline-offset: 2px; 
}

a:visited {
    color: var(--link-visited);
}

a:hover {
    text-decoration-style: solid;
}


/** Math */
math {
    font-size: 105%;
    
    * {
        font-family: math, "XITS", "XITS Math";
        /* This is needed to make the *script adjusting below work */
        font-size: 100%;
    }
}

/* Set display style for display math */
math[display="block"] * {
    math-style: normal;
}

/* Adjust {sub,super}scripts to render properly with XITS */
:is(msub, msup, msubsup, mmultiscripts, munder, mover, munderover) > :not(:first-child) {
    font-size: 0.8em;
}

/* Hack for Chromium */
mtd[columnalign="center"] {
    text-align: -webkit-center !important;
}

msup {
    margin-right: 0.2em;
}


/** Prose */
h1 {
    font-size: 1.8em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Fira Code";
    -webkit-text-stroke-width: 0;
}

p {
    text-align: justify;
    hyphens: auto;

    overflow: auto hidden;
}

blockquote {
    border-left: solid var(--dimmed);
    padding-left: 1em;
    margin-right: 0;

    blockquote {
        margin-left: 0.2em;
    }
}


/** Icon links (index.md) */
.icon-links {
    display: flex;

    flex-wrap: wrap;
    justify-content: center;

    text-align: center;

    > span {
        margin: 1rem 1.5rem 0.5rem 1.5rem; 
    }

    a {
        text-decoration: none;
    }
}


/** Page list filter (page-list.lua) */
.page-list > ul {
    list-style-type: none;
    padding: 0;
    
    > li {
        > :first-child {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            margin-bottom: 0.5em;
        }

        > p {
            margin: 0;
        }
        
        .page-list-title {
            font-family: "Fira Code";
            font-weight: 600;

            -webkit-text-stroke-width: 0;

            margin-right: auto;

            color: var(--color);
            text-decoration: none;
        }

        .page-list-date {
            font-family: "Fira Code";
            font-size: 0.8em;

            -webkit-text-stroke-width: 0;

            text-align: end;
            
            margin-left: auto;

            color: var(--dimmed);
        }

        padding: 0.6em;
        margin: 0.6em 0;
        border-radius: 5px;

        background-color: var(--bg-contrast);
    }
}


/** Pikchr */
.pikchr {
    display: block;
    margin: auto;
}
