<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="icon" href="/favicon.png">

        <link rel="stylesheet" type="text/css" href="/styles.css">
        <link rel="stylesheet" type="text/css" href="/katex.css">

        {% block head %}{% endblock %}
    </head>
    <body>
        <header>
            <div id="site-name">goll.cc</div>

            <ul id="site-sections">
                {% for item in ["", "/blog", "/demos"] %}
                    <li>
                        <a href="{{ item + "/" }}">
                            {% if page.url === (item + "/") %}
                                .
                            {% elif item !== "" and page.url.startsWith(item + "/") %}
                                ..
                            {% else %}
                                ~{{ item }}
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </header>

        <article id="content">
        {% block content %}{% endblock %}
        </article>
    </body>
</html>
